@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    <div>
        <p>Wait for an admin to confirm your account.</p>
    </div>
}
