@{
    ViewData["Title"] = "Acasă";
}


<head>
        <link rel="stylesheet" type="text/css" href="~/css/homepage.css">
</head>

<body style="background-image: url('/images/welcome.jpg');background-size:cover;">
    <div class="text-center" style="padding: 2rem; background-color: #ffffff; margin: 2rem; border-radius: 15px; box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);">
        <h1 class="display-4" style="color: #333;">Bine ați venit!</h1>
       
    </div>
</body>
